<div class="game-process">
  <div class="game-process-title">
    Морской бой
  </div>

  <div class="game-process-list">
    Ход игрока:
    <span *ngIf="turnOnShots === player_one" class="game-process-list-player">{{ turnOnShots }}</span>
    <span *ngIf="turnOnShots === player_two" class="game-process-list-comp">{{ turnOnShots }}</span>
  </div>

  <div class="game-process-players">
    <div>Игрок 1: <span class="game-process-players-player"> {{ player_one }}</span></div>
    <div>Игрок 2 (Компьютер): <span class="game-process-players-comp"> {{ player_two }}</span></div>
  </div>

  <div class="game-process-fields">
    <div class="game-process-fields-component">
      <div class="game-process-fields-component-numeral">
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>5</span>
        <span>6</span>
        <span>7</span>
        <span>8</span>
        <span>9</span>
        <span>10</span>
      </div>

      <div class="game-process-fields-component-mark">
        <span *ngFor="let mark of arrayLetters">{{ mark }}</span>
      </div>

      <div class="game-process-fields-component-grid">
        <div *ngFor="let letters of arrayLetters">
          <div *ngFor="let array of arrayGrid">
            <div
              [ngClass]="calculateClass(array[letters]+letters)"
              id={{array[letters]+letters}}
              class="game-process-fields-component-grid-cell">

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="game-process-fields-component">
      <div class="game-process-fields-component-numeral">
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>5</span>
        <span>6</span>
        <span>7</span>
        <span>8</span>
        <span>9</span>
        <span>10</span>
      </div>

      <div class="game-process-fields-component-mark">
        <span *ngFor="let mark of arrayLetters">{{ mark }}</span>
      </div>

      <div class="game-process-fields-component-grid">
        <div *ngFor="let letters of arrayLetters">
          <div *ngFor="let array of arrayGrid">
            <div
              (click)="clickOnTile(array[letters]+letters+1)"
              id={{array[letters]+letters+1}}
              class="game-process-fields-component-grid-cell">

            </div>
          </div>
        </div>
      </div>

      <div *ngIf="turnOnShots === player_two" class="game-process-fields-component-invisible">
      </div>
    </div>
  </div>

  <nz-modal [(nzVisible)]="isVisible" nzTitle="Введите имена игроков" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    Введите имя первого игрока:
      <input nz-input placeholder="Игрок 1" [(ngModel)]="player_one" />
        <br>
        <br>

    Введите имя второго игрока:
      <input nz-input placeholder="Игрок 2" [(ngModel)]="player_two" />
  </nz-modal>

  <nz-modal
    [(nzVisible)]="isVisibleComplete"
    [nzTitle]="modalTitle"
    [nzContent]="modalContent"
    [nzFooter]="modalFooter"
    (nzOnCancel)="handleCancel()"
  >
    <ng-template #modalTitle>
      <span *ngIf="turnOnShots === player_one">Поздравляю вы победили!</span>
      <span *ngIf="turnOnShots === player_two">К сожалению вы проиграли.</span>
    </ng-template>

    <ng-template #modalContent>
      <p>Победил игрок - {{ turnOnShots }}!</p>
      <p>Благодарю вас за игру, надеюсь видеть вас снова!</p>
      <p>До встречи!</p>
    </ng-template>

    <ng-template #modalFooter>
      <a nz-button [nzType]="'default'" routerLink="/">Вернуться в главное меню</a>
      <button class="game-process-button" nz-button nzType="primary" (click)="completeClose()">Играть заного</button>
    </ng-template>
  </nz-modal>
</div>
