.game-process {
  color: #b4b4b4;
  padding: 50px;
  background-image: url(~src/img/background.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  font-size: 22px;

  &-title {
    font-weight: bold;
    font-size: 40px;
    width: 100%;
    text-align: center;
  }

  &-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;

    &-player {
      margin-left: 10px;
      color: #8fb4ff;
      font-weight: bold;
    }

    &-comp {
      margin-left: 10px;
      color: #fffb87;
      font-weight: bold;
    }
  }

  &-players {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;

    &-player {
      margin-left: 10px;
      color: #8fb4ff;
      font-weight: bold;
    }

    &-comp {
      margin-left: 10px;
      color: #fffb87;
      font-weight: bold;
    }
  }

  &-fields {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    &-component {
      position: relative;
      padding-left: 30px;

      &-numeral {
        position: absolute;
        left: 0;
        top: 42px;
        display: flex;
        flex-direction: column;
        color: white;

        span {
          margin-bottom: 7px;
        }
      }

      &-mark {
        display: flex;
        justify-content: space-around;
        color: white;
      }

      &-grid {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        height: 400px;
        width: 400px;
        background: rgba(250, 211, 255, 0.6);
        margin: 10px 0;

        &-cell {
          cursor: pointer;
          width: 40px;
          height: 40px;
          border: 1px solid rgba(0, 0, 0, 0.72);

          transition: background 1s, transform 1.5s;
        }
      }

      &-invisible {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  &-modal {
    &-title {
      margin-bottom: 10px;
    }
  }

  .shipColorPlayer {
    background: #8fb4ff;
  }

  .destroyShip {
    background: #000000;
  }

  &-button {
    margin-left: 10px;
  }
}
