.introduction {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #b4b4b4;
  padding: 50px;
  background-image: url(~src/img/background.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;

  &-title {
    font-size: 30px;
    font-weight: bold;
  }

  &-regulations {
    margin: 50px auto;

    &-title {
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    &-list {
      font-size: 22px;

      &.interior {
        padding: 0;

        li {
          margin-left: 20px;
        }
      }
    }
  }
}
