<div class="introduction">
    <span class="introduction-title">Приветствую Вас в игре "Морской бой"!</span>

    <div class="introduction-regulations">
      <span class="introduction-regulations-title">Правила игры:</span>
      <ul class="introduction-regulations-list">
        <li>Количество кораблей должно соответствовать правилам:</li>
          <ul class="introduction-regulations-list interior">
            <li>1 корабль - ряд из 4 клеток - Линкор</li>
            <li>2 корабля - ряд из 3 клеток - Крейсер</li>
            <li>3 корабля - ряд из 2 клеток - Эсминцы</li>
            <li>4 корабля - ряд из 1 клеток - Торпедные катера</li>
          </ul>
        <li>Корабли могут касаться друг друга.</li>
        <li>Размеры поля должны быть правильными (10х10) или обговорены до игры.</li>
        <li>Система координат должна быть одинакова для всех игроков.</li>
        <li>Производить изменения на своём поле после начала игры запрещено.</li>
      </ul>
    </div>

    <a nz-button [nzType]="'primary'" routerLink="/sea-battle">Начать игру</a>
</div>
